<nav ng-controller="navController">
            <div class="wrapper">
                <div class="menu" ng-show="user.isLoggedIn">
                    <span class="icon">
                        <i class="glyphicon glyphicon-menu-hamburger"></i> <span class="hidden-xs">Menu</span>
                    </span>

                    <ul>
                        <li ng-repeat="view in nav">
                            <a href="#/view/{{ view.route }}">{{ view.route }}</a>
                        </li>
                    </ul>
                </div>

                <div class="account">
                    <div ng-hide="user.isLoggedIn">
                        <form class="form-inline" name="loginForm">
                          <div class="form-group">
                            <label class="sr-only" for="username">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username" required>
                          </div>
                          <div class="form-group">
                            <label class="sr-only" for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password" required>
                          </div>
                          <a class="btn btn-default" ng-click="signIn(user)" ng-disabled="loginForm.$invalid">Sign in</a>
                        </form>
                    </div>
                    
                    <div ng-show="user.isLoggedIn">
                        <span class="icon">
                            <span class="hidden-xs">{{ user.username }}</span> <i class="glyphicon glyphicon-user"></i>
                        </span>

                        <ul>
                            <li>
                                <a href="#/welcome">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <span class="clearfix"></span>
        </nav>