<link type="text/css" href="assets/styles/nav.css" rel="stylesheet">

<nav ng-controller="navController">
    <div class="wrapper">
        <span class="title">
            <i class="fa fa-cogs"></i> {{ config.ApplicationName }} {{ clock | date:config.timeFormat }}
        </span>

        <div class="menu" ng-show="user.isLoggedIn">
            <span class="icon">
                <i class="glyphicon glyphicon-menu-hamburger"></i> <span class="hidden-xs">Menu</span>
            </span>

            <ul>
                <li ng-repeat="view in config.views" 
                    ng-if="view.showInMenu">
                    <a href="#/view/{{ view.route }}">{{ view.route }}</a>
                </li>
            </ul>
        </div>

        <div class="menu">
            <div ng-show="user.isLoggedIn">
                <span class="icon">
                    <span class="hidden-xs">{{ user.username }}</span> <i class="glyphicon glyphicon-user"></i>
                </span>

                <ul>
                    <li>
                        <a href="#/signin">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>

        <span class="clearfix"></span>
    </div>
</nav>