<link type="text/css" href="assets/styles/nav.css" rel="stylesheet">

<nav ng-controller="navController">
    <div class="wrapper">
        <span class="title">
            <i class="fa fa-cogs"></i> {{ config.ApplicationName }} {{ clock | date:config.timeFormat }}
        </span>

        <span ng-show="user.isLoggedIn">
            <div class="menu">
                <span class="icon">
                    <a href ng-click="reroute('menu', false)"><i class="glyphicon glyphicon-menu-hamburger"></i> <span class="hidden-xs">Menu</span></a>
                </span>

                <ul>
                    <li ng-repeat="view in routes" ng-if="view.showInMenu">
                        <a href ng-click="reroute(view, true)">{{ view.route }}</a>
                    </li>
                </ul>
            </div>

            <div class="menu">
                <span class="icon">
                    <span class="hidden-xs">{{ user.username }}</span> <i class="glyphicon glyphicon-user"></i>
                </span>

                <ul>
                    <li>
                        <a href ng-click="reroute('signin', false)">Sign out</a>
                    </li>
                </ul>
            </div>
        </span>

        <span class="clearfix"></span>
    </div>
</nav>