body{
    min-width: 320px;
    padding-bottom: 50px;
}

.viewNavigation{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.viewNavigation a {
    float: right;
}

.datepicker{
    float: right;
}

.datepicker-container{
    display: inline-block;
    vertical-align: top;
}
.datepicker-container:last-child{
    margin-left: 25px;
}
.datepicker-container a{
    margin-top: 10px;
    margin-bottom: 5px;
}

.welcome{
    margin-top: 100px;
}

.center{
    text-align: center;
    margin: auto;
}

.content-wrapper{
    padding-top: 25px;
}

.wrapper{
    max-width: 80%;
    margin: auto;
}



@media screen {
    #printSection {
        display: none;
    }
}
@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
}

