nav{
    width: 100%;
    background-color: rgb(30,144,255);
    padding: 10px;
}
nav a,
nav i{
    color: #333;
}
nav ul{
    display: none;
    margin-top: 4px;
    position: absolute;
    padding: 7px;
    vertical-align: middle;
}
nav ul li{
    position: relative;
    list-style: none;
    white-space: nowrap;
}

.menu:hover .icon,
.account:hover .icon,
nav ul{
    border:1px solid #333;
    border-radius: 5px;
    
    background-color: #8ec8ff;
}

.menu,
.account{
    position: relative;
    z-index: 9999;
    cursor: pointer;
}

.menu {
    float: left;
}
.menu:hover ul{
    display: block;
}

.account{
    float: right;
}
.account:hover ul{
    display: block;
}

.icon{
    padding: 5px;
}

.wrapper{
    max-width: 80%;
    margin: auto;
}