/*nav{
    width: 100%;
    background-color: rgb(30,144,255);
    padding: 10px;
}
nav a,
nav i,
nav span{
    color: white;
    font-size: x-large;
}
nav ul{
    display: none;
    margin-top: 4px;
    position: absolute;
    padding: 7px;
    vertical-align: middle;
}
nav ul li{
    position: relative;
    list-style: none;
    white-space: nowrap;
}

.menu:hover .icon,
.account:hover .icon,
nav ul{
    border:1px solid #333;
    border-radius: 5px;
    
    background-color: #8ec8ff;
}

.menu,
.account{
    position: relative;
    z-index: 9999;
    cursor: pointer;
}

.menu {
    float: left;
}
.menu:hover ul{
    display: block;
}

.account{
    display: inline-block;
    right: 0px;
}
.account:hover ul{
    display: block;
}

.icon{
    padding: 5px;
}

*/

nav{
    width: 100%;
    background-color: rgb(30,144,255);
}
nav a,
nav i,
nav span{
    color: white;
    font-size: x-large;
}

.title{
    vertical-align: middle;
}

.title,
.menu{
    height: 100%;
}
.menu{
    display: inline-block;
    float: right;
    padding: 5px 10px;
}
.menu:hover{
    background-color: #8ec8ff;
}
.menu:hover ul{
    display: block;
}

.menu ul{
    display: none;
    position: absolute;
    background-color: #8ec8ff;
    padding: 7px;
    vertical-align: middle;
    margin-left:-9px;
}
.menu li{
    position: relative;
    list-style: none;
    white-space: nowrap;
}